#home {
  width: auto;
  margin-left: 230px;
  height: 100vh;
  background: linear-gradient(179.4deg, rgba(38, 38, 38, 0.9) 84.03%, rgba(38, 38, 38, 0.9) 84.03%), url(../../assets/img/home-bg.png);
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    margin-left: 0px;
    width: 100vw;
    height: 80vh;
  }
}

.home-title {
  font-size: 3.5em;
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    font-size: 1.5em;
  }
}

.home-text {
  font-size: 1.5em;
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    font-size: 1em;
  }
}

.typed-container {
  position: absolute;
  top: 400px;
  left: 750px;
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    left: 25%;
  }
}