@import "~bootstrap/scss/bootstrap";

*{
  margin:0;
  padding:0;
  text-decoration: none;
}

body {
  background-color: rgb(237, 237, 237);
  margin: -24px 0 !important;
}

.border {
  border: 2px solid rgb(248, 110, 4) !important;
}

.font-weight-700 {
  font-weight: 700 !important;
}
